.title-wrapper {
  display: flex;
  justify-content: space-evenly;
}

.title-wrapper a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.title-wrapper button {
  padding: 10px 20px;
  border-radius: 10px;
}

.btn-group {
  display: flex;
  margin: auto;
  width: 60%;
  justify-content: center;
}

.btn-group div {
  display: flex;
  width: 33%;
}

.btn-group button {
  border: 1px solid rgba(0, 0, 0, 0.8);
  flex: 1;
  padding: 10px 20px;
}

button:hover {
  cursor: pointer;
  background-color: #b2f5ff;
  color: black;
}

.grid-container {
  margin: auto;
  width: 60%;
  display: grid;
  padding: 10px;
  padding-right: 45px;
}

.survei-card {
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  box-shadow: 5px 5px lightgrey;
  padding: 20px;
  font-size: 20px;
}

.survei-card:hover {
  box-shadow: 10px 10px lightgrey;
}

.survei-card button {
  padding: 10px 20px;
  margin-left: 5px;
}


.little-text{
  font-size: 15px;
}


ul {
  list-style-type: none;
}

.active{
  background-color:#b2f5ff;
}

#button1 {
  border-radius: 10px 0px 0px 10px
}

#button3 {
  border-radius: 0px 10px 10px 0px
}

.card-button-div{
  flex-shrink: 0;
}
