<IfModule mod_rewrite.c>
    # Make apache follow sym links to files
    Options +FollowSymLinks
    # If somebody opens a folder, hide all files from the resulting folder list
    IndexIgnore */*

    Options -MultiViews

    RewriteEngine On
    RewriteBase /
    RewriteRule ^index\.html$ - [L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*) /app/index.html [QSA,L]
 </IfModule>
