/**
* all mixin must be wrote in here
*/
/**
* Const here
*/
/**
* Color here
*/
/**
* Font here
*/
/**
* Const here
*/
/**
* Color here
*/
/**
* Font here
*/
.toast__success {
  background-color: #a4d4a0; }

.toast__error {
  background-color: #b43d69; }

.toast__body {
  font-size: 1.2em;
  text-align: center;
  color: #28292b; }
