.navbar {
  position: sticky;
  top: 76px;
}

.red {
  border-bottom: 3px solid rgba(255, 125, 125, 0.549) !important;
}

@media screen and (max-width: 960px) {
  .navbar {
    top: 56px;
  }
}

.survei-title {
  font-size: 1.7rem !important;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media only screen and (max-width: 600px) {
  .survei-title {
    font-size: 1.2rem !important;
  }
}
