/* INDEX */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #5f6368;
}

select {
  outline: none;
  padding: 5px;
  border-radius: 0.5em;
}

/* PERTANYAAN */

.pertanyaan {
  width: 100%;
  display: flex;
  padding: 20px 5em;
  margin-top: 50px;
}

@media only screen and (max-width: 1024px) {
  .pertanyaan {
    flex-direction: column-reverse;
    align-items: center;
  }
}

/* NO PERTANYAAN */

.no-pertanyaan {
  width: 500px;
}

.no-pertanyaan-div {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 1em;
  padding: 10px;
}

.no {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 0.3em;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.05);
}

/* PERTANYAAN */

.pertanyaan-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.add-pertannyaan {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  max-width: 800px;
}

.add-pertannyaan button {
  border-radius: 0.5em;
  width: 100%;
  padding: 10px;
  border: 1px solid rgb(194, 234, 240);
  background-color: white;
  box-shadow: 0px 0px 5px 5px rgb(194, 234, 240);
  -webkit-box-shadow: 0px 0px 5px 5px rgb(194, 234, 240);
  -moz-box-shadow: 0px 0px 5px 5px rgb(194, 234, 240);
}

button:hover {
  cursor: pointer;
}

/* Deskripstion */

.description {
  display: flex;
  flex-direction: column;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}

.description h3 {
  margin: auto;
  margin-bottom: 10px;
}

.textarea {
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 0.5em;
  height: 100%;
}

/* Card Pertanyaan */

.card {
  display: flex;
  flex-direction: column;
  padding: 10px 30px;
  background-color: white;
  border-radius: 0.5em;
  margin-bottom: 15px;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.05);
  max-width: 800px;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.required {
  display: flex;
  gap: 5px;
}

.isian-pertanyaan {
  width: 100%;
}

.isian-pertanyaan input {
  font-size: 1.1em;
  font-size: 800;
}

.body {
  margin-top: 10px;
}

.jawaban-singkat {
  padding: 6px 12px;
  color: gray;
  border-bottom: 1.5px solid #5f6368 !important;
}

.pilgan {
  display: flex;
  gap: 5px;
  align-items: center;
}

.circle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid grey;
  background-color: white;
}

.square {
  height: 20px;
  width: 20px;
  border-radius: 0.2em;
  border: 1px solid grey;
  background-color: white;
}

.btn-pilgan {
  border: none;
  background-color: white;
  padding: 6px 12px;
  color: #19a7ce !important;
}

.pilgan button {
  border: none;
  background-color: transparent;
}

.pilgan button img {
  width: 20px;
}

/* SKALA */
.select-input-wrapper {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.skala-label-wrapper {
  display: flex;
  flex-direction: column;
}

.skala-label {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* Footer */
.footer {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.delete-question {
  background-color: transparent;
  border: none;
}

.delete-question img {
  width: 20px;
}
